<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#dashboard"><i class="zmdi zmdi-home m-r-5"></i>Oreo</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user"><i class="zmdi zmdi-account m-r-5"></i>Agent</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane stretchRight active" id="dashboard">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info">
                            <div class="image"><a href="profile.html"><img src="<%= host %>/assets/images/profile_av.jpg" alt="User"></a></div>
                            <div class="detail">
                                <h4>Michael</h4>
                                <small>Agent</small>
                            </div>
                            <a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                            <a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                            <a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>                            
                        </div>
                    </li>
                    <li class="header">MAIN</li>
                    <li class=""><a href="<%= host %>/dashboard"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>   
                    <li <% if(breadcumb.main.text==='project'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Projects</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='project' && breadcumb.sub.length>0){ %>
                                    <% if(breadcumb.sub[0].text==='create'){ %>
                                        class="active"
                                    <% } %>    
                                <% } %>><a href="<%= host %>/dashboard/project/create">Add Project</a></li>
                            <li <% if(breadcumb.main.text==='project' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='type'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/project/type">Project Types</a></li>
                            <li <% if(breadcumb.main.text==='project' && breadcumb.sub.length==0){ %>
                                    class="active"    
                            <% } %>><a href="<%= host %>/dashboard/project/list">Manage Projects</a></li>
                        </ul>
                    </li>                 
                    <li <% if(breadcumb.main.text==='property'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Property</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='property' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='create'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/property/create">Add Property</a></li>
                            <li <% if(breadcumb.main.text==='property' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='type'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/property/type">Property Types</a></li>
                            <li <% if(breadcumb.main.text==='property' && breadcumb.sub.length==0){ %>
                                class="active"    
                        <% } %>><a href="<%= host %>/dashboard/property/list">Manage Property</a></li>
                        </ul>
                    </li>
                    <li <% if(breadcumb.main.text==='partition'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Property Partition</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='partition' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='create'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/partition/create">New Partition</a></li>
                            <li <% if(breadcumb.main.text==='partition' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='type'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/partition/type">Partition Types</a></li>
                            <li <% if(breadcumb.main.text==='partition' && breadcumb.sub.length==0){ %>
                                class="active"    
                        <% } %>><a href="<%= host %>/dashboard/partition/list">Manage Partition</a></li>
                        </ul>
                    </li>
                    <li <% if(breadcumb.main.text==='sell'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-money-box"></i><span>Property Sell</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='sell' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='create'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/sell/create">New Sell</a></li>
                            <li <% if(breadcumb.main.text==='sell' && breadcumb.sub.length==0){ %>
                                class="active"    
                        <% } %>><a href="<%= host %>/dashboard/sell">Sell List</a></li>
                        </ul>
                    </li>
                    <li <% if(breadcumb.main.text==='progress'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-money-box"></i><span>Property Progress</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='progress' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='create'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/progress/create">New Progress</a></li>
                            <li <% if(breadcumb.main.text==='progress' && breadcumb.sub.length==0){ %>
                                class="active"    
                        <% } %>><a href="<%= host %>/dashboard/progress/list">Progress List</a></li>
                        </ul>
                    </li>
                    <li <% if(breadcumb.main.text==='payment'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-money-off"></i><span>Payment</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='payment' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='create'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/payment/create">New Payment</a></li>
                            <li <% if(breadcumb.main.text==='payment' && breadcumb.sub.length==0){ %>
                                class="active"    
                        <% } %>><a href="<%= host %>/dashboard/payment/list">Payment List</a></li>
                        </ul>
                    </li>
                    <li <% if(breadcumb.main.text==='user'){ %> class="active open" <% } %>><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-folder-person"></i><span>User</span></a>
                        <ul class="ml-menu">
                            <li <% if(breadcumb.main.text==='user' && breadcumb.sub.length>0){ %>
                                <% if(breadcumb.sub[0].text==='create'){ %>
                                    class="active"
                                <% } %>    
                            <% } %>><a href="<%= host %>/dashboard/user/create">Add New User</a></li>
                            <li <% if(breadcumb.main.text==='user' && breadcumb.sub.length==0){ %>
                                class="active"    
                        <% } %>><a href="<%= host %>/dashboard/user/list">User List</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-apps"></i><span>Equipments</span></a>
                        <ul class="ml-menu">
                            <li><a href="mail-inbox.html">Inbox</a></li>
                            <li><a href="chat.html">Chat</a></li>
                            <li><a href="events.html">Calendar</a></li>
                            <li><a href="contact.html">Contact list</a></li>
                            <li><a href="blog-dashboard.html">Blog</a></li>
                        </ul>
                    </li>
                    <li><a href="groups.html"><i class="zmdi zmdi-reader"></i><span>Reports</span></a> 
                </ul>
            </div>
        </div>
        <div class="tab-pane stretchLeft" id="user">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info m-b-20 p-b-15">
                            <div class="image"><a href="profile.html"><img src="<%= host %>/assets/images/profile_av.jpg" alt="User"></a></div>
                            <div class="detail">
                                <h4>Michael</h4>
                                <small>Agent</small>
                            </div>
                            <a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                            <a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                            <a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>
                            <p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                            <div class="row">
                                <div class="col-4">
                                    <h6 class="mb-1">852</h6>
                                    <small>Deals</small>
                                </div>
                                <div class="col-4">
                                    <h6 class="mb-1">13k</h6>
                                    <small>Sales</small>
                                </div>
                                <div class="col-4">
                                    <h6 class="mb-1">234</h6>
                                    <small>Clients</small>
                                </div>                            
                            </div>
                        </div>
                    </li>
                    <li>
                        <small class="text-muted">Email address: </small>
                        <p>michael@gmail.com</p>
                        <hr>
                        <small class="text-muted">Phone: </small>
                        <p>+ 202-555-0191</p>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <div>Honesty & Integrity</div>
                                <div class="progress m-b-20">
                                    <div class="progress-bar l-blue " role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%"> <span class="sr-only">62% Complete</span> </div>
                                </div>
                            </li>
                            <li>
                                <div>Responsiveness</div>
                                <div class="progress m-b-20">
                                    <div class="progress-bar l-green " role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"> <span class="sr-only">87% Complete</span> </div>
                                </div>
                            </li>
                            <li>
                                <div>Local Knowledge</div>
                                <div class="progress m-b-20">
                                    <div class="progress-bar l-amber" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%"> <span class="sr-only">32% Complete</span> </div>
                                </div>
                            </li>
                        </ul>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</aside>

